body {
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
}

.banner {
    position: fixed;
    text-align: center;
    background: linear-gradient(107deg, #051238 34.74%, #75FA9E 228.64%);
    width: 100%;
    z-index: 999;
    

    & p{
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        margin: 0;
        text-transform: uppercase;
        color: red;
        transition: 5s;
        animation: blink-animation 1s steps(5, start) infinite;
        padding: 1% 0;
    }
}

@keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

.spots {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 11px 7%;
    position: fixed;
    /* top: 50px; */
    width: 100%;
    z-index: 999;
    background-color: #ffffff;

    & div {
        color: #071336;
        font-weight: 400;
        font-size: 18px;;

        & a {
            color: #071336;
        }

        & a:hover {
            color: #0836bf;
        }

        & .bolded-text {
            font-weight: 700;
        }
    }
}

.nav-hero {
    
    background: linear-gradient(109.72deg, #FFFFFF 3.16%, #FFF1AF 104.63%);


    & .navbar{
        width: 100%;

        & .nav-item .nav-link{
            color: #404040 !important;
        }

        & .nav-item .nav-link:hover{
            color: #000000 !important;
        }

        .dropdown-menu{
            left: unset !important;
            right: 0 !important;
            background: linear-gradient(157.7deg, #ffffff 0%, #ededed 100%);
            border-radius: 8px !important;
            box-shadow: 0 25px 40px rgba(0, 0, 0, 0.09);
            border: 2px solid #FFE15A !important;
            padding: 16px 16px 0 !important;
        }
    }

    & .nav{

        padding: 0 5%;
        position: fixed;
        /* top: 50px; */
        margin-top: 49px;
        width: 100%;
        z-index: 999;
        background-color: transparent;
        transition: background-color 0.3s ease;

        &.scrolled{
            background: linear-gradient(109.72deg, #FFFFFF 3.16%, #FFF1AF 104.63%);
        }
        
        & .applications-number{
            background: #172987;
            border-radius: 9px;
            color: #FFFFFF;
            padding: 5px 8px;
            font-weight: 700;
            font-size: 24px;
            width: 73px;
        }

        & .applications-text{
            font-size: 12px;
            color: #404040;
        }

        & .waiting-btn{
            color: #172987;
            background-color: #FFE15A;
            border: none;
            border-radius: 9px;
            padding: 10px 12px;
            font-weight: 600;
            text-wrap: nowrap;
        }

        & .waiting-btn:hover{
            background-color: #f3cb19;
        }
    }

    & .hero{
        
        padding: 10% 0 7% 0;
        position: relative;

        & .hero-upper-section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 30px;
            color: #ffffff;

            & h4{
               font-size: 26px;
               font-weight: 500;
               color: #AF6C00; 
            }

            & h1{
                font-size: 42px;
                font-weight: 800;
                color: #0A0A0A;
            }
            
            & p {
                color: #404040;
                font-size: 24px;
                font-weight: 700;

                & span{
                    color:#0A0A0A;
                    font-weight: 900;
                }
            }

            .hero-google-rating{
                max-width: 225px;
                max-height: 55px;
            }

            & .waiting-btn{
                color: #ffffff;
                background-color: #172987;
                border: none;
                border-radius: 9px;
                padding: 10px 12px;
                font-weight: 500;
                text-wrap: nowrap;
                display: none;
            }
    
            & .waiting-btn:hover{
                background-color: #061457;
            }
        }

        & .hero-lower-section{

            margin-top: 5%;
            
        }

        & .hero-bottom-section{
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 50%);
            background-color: #FFFFFF;
            
            box-shadow: 0px 45px 56.1px -23px #99630029;


            padding: 1.5% 0%;
            border-radius: 7px;
            width: 75%;

            & p {
                color: #AF6C00;
                font-size: 16px;
                margin: 0;
                text-wrap: nowrap;

                & span{
                    color: #404040;
                    font-weight: 700;
                    font-size: 18px;
                }
            }
        }


    }

    .hero #heroSliderContainer{
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    .hero #heroSlider{
        display: flex;
        width: max-content;
        flex-wrap: nowrap;
        transform: translateX(0);
        will-change: transform;
        height: 220px;
    }
    
    .hero #heroSlide {
        min-width: 200px;
        margin: 0 10px;
    }

    .hero .slide img {
        max-height: 100%;
        object-fit: cover;
    }
}

/* MAIN */

main{
    background-color: #F7F7F7;
}

#navigation{
    display: flex;
    opacity: 0;
    background-color:#FFF1AF;
    padding: 0 10%;
    height: 74px;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 110px;
    z-index: 800;

    & button{
        color: #AF6C00;
        border: none;
        background-color: transparent;
        font-weight: 800;
        font-size: 16px;

        &:hover{
            color: #805003;
            transform: scale(1.1);
            transition: 0.3s ease-in-out;
        }
    }
}

#navigation.visible{
    animation: fadeIn 0.5s ease-in-out forwards;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px); 
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#navigation.hidden {
    animation: fadeOut 0.2s ease-in-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0); 
    }
    100% {
        opacity: 0;
        transform: translateY(-20px); 
    }
}

#experience{
    padding: 5% 11%;

    .google-rating-small{
        width: 186px;
        height: 45px;
    }

    & .experience-title{
        color: #071336;
        font-weight: 700;
        font-size: 32px;
    }

    & .experience-description{
        color: #505050;
        font-size: 16px;
    }

    & .google-reviews{
        background-color: #FFE15A;
        color: #172987;
        border-radius: 9px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        & p{
            font-size: 32px;
            font-weight: 800;
            color: #172987;

            & span{
                font-size: 22px;
            }
        }

       
    }


}

#techSchool{
    background-color:#FFFFFF;
    padding: 5% 11%;

    & h3{
        color: #404040;
        font-size: 32px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 5%;

        & span{
            font-weight: 900;
            color: #AF6C00;
        }
    }

    & .card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 6% 4%;
        background-color: #FFFAE2;
        border: 1px solid #FFE983;
        border-radius: 9px;
        height: 300px;

        & img{
            width: 54px;
            height: 54px;
        }

        & p{
            color: #0A0A0A;
            font-size: 23px;
            font-weight: 800;
        }

        & span{
            color: #AF6C00;
            font-weight: 600;
            font-size: 16px;
            margin-top: auto;
        }

    }
}

#programBreakdown{
    padding: 5% 0;

    & .intro{
        margin-bottom: 3% !important;
        & .left-side{
            & h1{
                font-size: 32px;
                font-weight: 500;
                color: #606060;

                & span{
                    font-weight: 800;
                    color: #404040;
                }
            }
        }

        & .right-side{
            & p{
                font-size: 18px;
                font-weight: 500;
                color: #404040;

                & span{
                    font-weight: 800;
                    color: #0A0A0A;
                }
            }
        }
    }

    & .card{
        border: none;
        border-radius: 24px;
        padding: 5%;
        height: 100%;

        & img{
            max-width: 86px;
            max-height: 86px;
        }
    }

    & .left-side{
        height: 100%;

        & .yellow-card{
            background-color: #FFE15A;

            & .hstack{
                & h6{
                   font-size: 18px;
                   font-weight: 800;
                   color: #172987; 
                }

                & span{
                    background-color: #172987;
                    color: #FFFFFF;
                    border: none;
                    border-radius: 5px;
                    padding: 1% 2%;
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            & p{
               font-size: 18px;
               font-weight: 500;
               color: #172987; 

               & span{
                    font-weight: 800;
                }
            }
        }
    }

    & .right-side{
        & .lightyellow-card{
            background-color: #FFFAE2;
            border: 1px solid #F5DC51;

            & .hstack{
                & h6{
                   font-size: 18px;
                   font-weight: 800;
                   color: #404040; 
                }

                & span{
                    background-color: #F7E665;
                    color: #172987;
                    border: none;
                    border-radius: 5px;
                    padding: 1% 2%;
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            & p{
               font-size: 18px;
               font-weight: 500;
               color: #606060; 

               & span{
                    font-weight: 800;
                }
            }
        }

        & .white-card{
            background-color: #FFFFFF;
            border: 1px solid #F5DC51;

            & .hstack{
                & h6{
                   font-size: 18px;
                   font-weight: 800;
                   color: #404040; 
                }

                & span{
                    background-color: #F7E665;
                    color: #172987;
                    border: none;
                    border-radius: 5px;
                    padding: 1% 2%;
                    font-size: 14px;
                    font-weight: 700;
                }
            }

            & p{
               font-size: 18px;
               font-weight: 500;
               color: #606060; 

               & span{
                    font-weight: 800;
                }
            }
        }
    }

    & .bottom-side{
        & p{
            font-size: 18px;
            font-weight: 500;
            color: #404040;
            
            & span{
                font-weight: 800;
                color: #0A0A0A;
            }
        }
    }
}

#realWorldExperience{
    padding: 5% 0;
    background-color: #FFFAE2;

    & .left-side{
        & img{
            width: 100%;
            max-height: 313px;
        }
    }

    & .right-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;

        & h2{
            font-size: 32px;
            font-weight: 800;
            color: #AF6C00;
        }

        & p{
            font-size: 24px;
            color: #404040;
        }

        & h3{
            font-size: 24px;
            font-weight: 800;
            background-color: #FFE15A;
            color: #172987;
            width: fit-content;
            padding: 1% 2%;
        }

        & ul>li{
            font-size: 18px;
            font-weight: 500;
        }

        & ul li::marker {
            color: #AF6C00; 
        }

        & span{
            font-weight: 800;
            color: #AF6C00;
        }
    }


}

#flexibleOptions{
    padding: 5% 0;

    & .flexible-options-inner{
        background-color: #FFFAE2;
        padding: 5% 2%;
        border: 18px solid #FFFFFF;
        border-radius: 24px;
        box-shadow: 0px 54px 151.8px -31px #00115E38;

        & .intro{
            text-align: center;

            & h3{
                font-size: 32px;
                font-weight: 900;
                color: #0A0A0A;
            }

            & p{
                font-size: 24px;
                font-weight: 500;
                color: #0A0A0A;

                & span{
                    font-weight: 800;
                    color: #AF6C00;
                }
            }
        }

        & .card{
            border: none;
            border-radius: 12px;
            padding: 5% 2%;
        }

        & .yellow-card{
            background-color: #FFE15A;
            color: #172987;

            & h6{
                font-size: 18px;
                font-weight: 800;
            }

            & p{
                font-size: 16px;
                font-weight: 500;
            }

            & span{
                border-radius: 4px;
                background-color: #ffffff;
                color: #172987;
                font-size: 24px;
                font-weight: 800;
                width: fit-content;
                padding: 1% 2%;

            }
        }

        & .white-card{
            background-color: #FFFFFF;
            border: 2px solid #FFE15A;

            & h6{
                font-size: 18px;
                font-weight: 800;
                color: #AF6C00;
            }

            & p{
                font-size: 16px;
                font-weight: 500;
                color: #0A0A0A;
            }

            & span{
                border-radius: 4px;
                background-color: #FFE15A;
                color: #172987;
                font-size: 24px;
                font-weight: 800;
                width: fit-content;
                padding: 1% 2%;

            }
        }

    }
}

#calculator{
    margin: 5% 5%;
    background-color: #FFFFFF;
    border-radius: 24px;
    padding: 2% 3%;

    & .left-side{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        height: 100%;
        color: #0A0A0A;

        & h2{
            font-size: 36px;
            font-weight: 800;

            & span{
               color: #AF6C00; 
            }
        }

        & p{
            font-size: 18px;
            font-weight: 500;
        }
    }

    & .right-side{
        background-color: #FFFAE2;
        border-radius: 24px;
        padding: 3% 5%;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        gap: 20px;

        & .active{
            background-color: #FFE15A;
            color: #172987 !important;
            border-radius: 9px;
            box-shadow: 0px 7px 12px 0px #00000036;

        }

        & input {
            visibility: hidden;
        }
        
        & .intro {
            text-align: center;

            & h3{
                font-size: 28px;
                font-weight: 800;
                color: #AF6C00;
            }

            & p{
                color: #0A0A0A;
                font-size: 18px;
                font-weight: 500; 
            }
        }

        & .calc-top{
            & p{
                font-size: 16px;
                font-weight: 700;
                color: #0A0A0A;
            }

           & #chooseOption{
                background-color: #FFFFFF;
                border: 1px solid #AF6C00;
                border-radius: 9px;
                padding: 1% 5%;

                & .option-1,
                & .option-2{
                    height: 100%;
                    display: flex;
                }

                & label{
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    text-wrap: nowrap;
                    padding: 2% 5%;
                    color: #0A0A0A;

                    & span{
                        font-size: 26px;
                        font-weight: 800;
                    }
                }

                & label:hover{
                    background-color: #FFE15A;
                    color: #172987;
                    border-radius: 9px;
                }
            }
        }

        & .calc-bottom{
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .calc-bottom-left{
                width: fit-content;

                & p{
                    font-size: 16px;
                    font-weight: 700;
                    color: #0A0A0A; 
                }
    
                & #installments{
                    background-color: #ffffff;
                    border: 1px solid #AF6C00;
                    border-radius: 9px;
                    padding: 3%;
                    text-wrap: nowrap;
                    display: flex;
                    justify-content: space-between; 
                    width: 10vw;   
                    box-sizing: border-box;
    
                    & label{
                        font-size: 16px;
                        font-weight: 600;
                        padding:5%;
                        cursor: pointer;
                        text-wrap: nowrap;
                        color: #0A0A0A;
                        flex: 1;
                        text-align: center;
                    }
    
                    & label:hover{
                        background-color: #FFE15A;
                        color: #172987;
                        border-radius: 9px;
                    }
                }
            }

            & p{
                font-size: 16px;
                font-weight: 700;  
                color: #0A0A0A;
            }

           & #calculator-price-box{
                background-color: #FFFFFF;
                border: 1px solid #AF6C00;
                border-radius: 9px;
                color: #0A0A0A;
                font-size: 16px;
                font-weight: 900;
                padding: 5%;
                text-align: center;

           }

        }

    }

}

#furtherGuidance{
    padding: 5% 11%;
    background-color: #FFFAE2;

    & .applications{
        background-color: #FFE15A;
        padding: 3%;
        margin-bottom: 3% !important;

        & h6{
            font-size: 24px;
            font-weight: 500;
            color: #001884;

            & span{
                font-size: 32px;
                color: #001884;
                font-weight: 800;
            }
        }

        & p{
            color:#001884;
            font-size: 18px;
            font-weight: 500;
        }
    }

    & h1{
        color: #0A0A0A;
        font-size: 32px;
        font-weight: 700;
    }

    & p{
        color:#0A0A0A;
        font-size: 18px;
        font-weight: 500; 
    }
    
    & .black-text{
        font-size: 18px;
        font-weight: 800;
        color: #0A0A0A !important;
    }

    & h4 {
        color: #0A0A0A;
        font-size: 22px;
        font-weight: 800;
        text-wrap: nowrap;
    }

    & span{
        color: #AF6C00;
        font-size: 22px;
    }

    & button{
        border: none;
        border-radius: 9px;
        background-color: #FFE15A;
        padding: 6% 6%;
        color: #001884;
        font-size: 20px;
        font-weight: 700;
        text-wrap: nowrap;

        &:hover{
            background-color: #ecc30d;
            transform: scale(1.1);
            transition: 0.5s ease-in-out;
            color: #292929;
        }
    }

    
}



/* FOOTER */

.footer {
    padding: 3% 5%;
    background-color: #FFFFFF;
}

footer a{
    text-decoration: none;
    color: #051238;
}

footer a:hover{
    color: #AF6C00;
}

footer a.active{
    color: #AF6C00;
    font-weight: 900;
}

footer h3{
    font-size: 16px;
    font-weight: 700;
    color: #05123885;
}

footer a p{
    font-size: 14px;
    font-weight: 800;
}

footer .careers-text{
    font-size: 18px;
    font-weight: 500;
    color: #051238;
}

footer .careers-text span{
    font-weight: 700;
}

footer .social-media img:hover{
    transform: scale(1.3);
    transition: 0.3s ease-in-out;
}

footer .social-media-text{
    font-weight: 500;
    color:#8D93A5;
}

.subfooter{
    background-color: #FFFAE2;
    text-align: center;
    padding: 19px 0;
    color: #AF6C00;
    border-top: 2px solid rgba(255, 255, 255, 1);
    font-size: 14px;
}

/* WAITING LIST FORM */

.btn-close{
    position: absolute;
    right: 10px;
    top: 10px;
}

@import url(https://fonts.bunny.net/css?family=ibm-plex-sans:400,400i,700);

#_form_899_ {
    font-size: 14px;
    line-height: 1.6;
    font-family: arial, helvetica, sans-serif;
    margin: 0
}

#_form_899_ * {
    outline: 0
}

._form_hide {
    display: none;
    visibility: hidden
}

._form_show {
    display: block;
    visibility: visible
}

#_form_899_._form-top {
    top: 0
}

#_form_899_._form-bottom {
    bottom: 0
}

#_form_899_._form-left {
    left: 0
}

#_form_899_._form-right {
    right: 0
}

#_form_899_ input[type="text"],
#_form_899_ input[type="tel"],
#_form_899_ input[type="date"],
#_form_899_ textarea {
    padding: 6px;
    height: auto;
    border: #979797 1px solid;
    border-radius: 4px;
    color: #000 !important;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

#_form_899_ textarea {
    resize: none
}

#_form_899_ ._submit {
    -webkit-appearance: none;
    cursor: pointer;
    font-family: arial, sans-serif;
    font-size: 14px;
    text-align: center;
    background: #004CFF !important;
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: #FFFFFF !important;
    padding: 10px !important
}

#_form_899_ ._submit:disabled {
    cursor: not-allowed;
    opacity: 0.4
}

#_form_899_ ._submit.processing {
    position: relative
}

#_form_899_ ._submit.processing::before {
    content: "";
    width: 1em;
    height: 1em;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    border: double 3px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#004CFF, #004CFF), conic-gradient(#004CFF, #FFFFFF);
    background-origin: border-box;
    background-clip: content-box, border-box;
    animation: 1200ms ease 0s infinite normal none running _spin
}

#_form_899_ ._submit.processing::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #004CFF !important;
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 4px !important;
    color: #FFFFFF !important;
    padding: 10px !important
}

@keyframes _spin {
    0% {
        transform: translate(-50%, -50%) rotate(90deg)
    }

    100% {
        transform: translate(-50%, -50%) rotate(450deg)
    }
}

#_form_899_ ._close-icon {
    cursor: pointer;
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png");
    background-repeat: no-repeat;
    background-size: 14.2px 14.2px;
    position: absolute;
    display: block;
    top: 11px;
    right: 9px;
    overflow: hidden;
    width: 16.2px;
    height: 16.2px
}

#_form_899_ ._close-icon:before {
    position: relative
}

#_form_899_ ._form-body {
    margin-bottom: 30px
}

#_form_899_ ._form-image-left {
    width: 150px;
    float: left
}

#_form_899_ ._form-content-right {
    margin-left: 164px
}

#_form_899_ ._form-branding {
    color: #fff;
    font-size: 10px;
    clear: both;
    text-align: left;
    margin-top: 30px;
    font-weight: 100
}

#_form_899_ ._form-branding ._logo {
    display: block;
    width: 130px;
    height: 14px;
    margin-top: 6px;
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png");
    background-size: 130px auto;
    background-repeat: no-repeat
}

#_form_899_ .form-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

#_form_899_ ._form-label,
#_form_899_ ._form_element ._form-label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block
}

#_form_899_._dark ._form-branding {
    color: #333
}

#_form_899_._dark ._form-branding ._logo {
    background-image: url("https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png")
}

#_form_899_ ._form_element {
    position: relative;
    margin-bottom: 10px;
    font-size: 0;
    max-width: 100%
}

#_form_899_ ._form_element * {
    font-size: 14px
}

#_form_899_ ._form_element._clear {
    clear: both;
    width: 100%;
    float: none
}

#_form_899_ ._form_element._clear:after {
    clear: left
}

#_form_899_ ._form_element input[type="text"],
#_form_899_ ._form_element input[type="date"],
#_form_899_ ._form_element select,
#_form_899_ ._form_element textarea:not(.g-recaptcha-response) {
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: inherit
}

#_form_899_ ._field-wrapper {
    position: relative
}

#_form_899_ ._inline-style {
    float: left
}

#_form_899_ ._inline-style input[type="text"] {
    width: 150px
}

#_form_899_ ._inline-style:not(._clear)+._inline-style:not(._clear) {
    margin-left: 20px
}

#_form_899_ ._form_element img._form-image {
    max-width: 100%
}

#_form_899_ ._form_element ._form-fieldset {
    border: 0;
    padding: 0.01em 0 0 0;
    margin: 0;
    min-width: 0
}

#_form_899_ ._clear-element {
    clear: left
}

#_form_899_ ._full_width {
    width: 100%
}

#_form_899_ ._form_full_field {
    display: block;
    width: 100%;
    margin-bottom: 10px
}

#_form_899_ input[type="text"]._has_error,
#_form_899_ textarea._has_error {
    border: #F37C7B 1px solid
}

#_form_899_ input[type="checkbox"]._has_error {
    outline: #F37C7B 1px solid
}

#_form_899_ ._show_be_error {
    float: left
}

#_form_899_ ._error {
    display: block;
    position: absolute;
    font-size: 14px;
    z-index: 10000001
}

#_form_899_ ._error._above {
    padding-bottom: 4px;
    bottom: 39px;
    right: 0
}

#_form_899_ ._error._below {
    padding-top: 8px;
    top: 100%;
    right: 0
}

#_form_899_ ._error._above ._error-arrow {
    bottom: -4px;
    right: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #FFDDDD
}

#_form_899_ ._error._below ._error-arrow {
    top: 0;
    right: 15px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #FFDDDD
}

#_form_899_ ._error-inner {
    padding: 12px 12px 12px 36px;
    background-color: #FFDDDD;
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16 8C16 12.4183 12.4183 16 8 16C3.58172 16 0 12.4183 0 8C0 3.58172 3.58172 0 8 0C12.4183 0 16 3.58172 16 8ZM9 3V9H7V3H9ZM9 13V11H7V13H9Z' fill='%23CA0000'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: 12px center;
    font-size: 14px;
    font-family: arial, sans-serif;
    font-weight: 600;
    line-height: 16px;
    color: #000;
    text-align: center;
    text-decoration: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(31, 33, 41, 0.298295)
}

@media only screen and (max-width:319px) {
    #_form_899_ ._error-inner {
        padding: 7px 7px 7px 25px;
        font-size: 12px;
        line-height: 12px;
        background-position: 4px center;
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis
    }
}

#_form_899_ ._error-inner._form_error {
    margin-bottom: 5px;
    text-align: left
}

#_form_899_ ._button-wrapper ._error-inner._form_error {
    position: static
}

#_form_899_ ._error-inner._no_arrow {
    margin-bottom: 10px
}

#_form_899_ ._error-arrow {
    position: absolute;
    width: 0;
    height: 0
}

#_form_899_ ._error-html {
    margin-bottom: 10px
}

.pika-single {
    z-index: 10000001 !important
}

#_form_899_ input[type="text"].datetime_date {
    width: 69%;
    display: inline
}

#_form_899_ select.datetime_time {
    width: 29%;
    display: inline;
    height: 32px
}

#_form_899_ input[type="date"].datetime_date {
    width: 69%;
    display: inline-flex
}

#_form_899_ input[type="time"].datetime_time {
    width: 29%;
    display: inline-flex
}

@media (min-width:320px) and (max-width:667px) {
    ::-webkit-scrollbar {
        display: none
    }

    #_form_899_ {
        margin: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        box-sizing: border-box
    }

    #_form_899_ * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 1em
    }

    #_form_899_ ._form-content {
        margin: 0;
        width: 100%
    }

    #_form_899_ ._form-inner {
        display: block;
        min-width: 100%
    }

    #_form_899_ ._form-title,
    #_form_899_ ._inline-style {
        margin-top: 0;
        margin-right: 0;
        margin-left: 0
    }

    #_form_899_ ._form-title {
        font-size: 1.2em
    }

    #_form_899_ ._form_element {
        margin: 0 0 20px;
        padding: 0;
        width: 100%
    }

    #_form_899_ ._form-element,
    #_form_899_ ._inline-style,
    #_form_899_ input[type="text"],
    #_form_899_ label,
    #_form_899_ p,
    #_form_899_ textarea:not(.g-recaptcha-response) {
        float: none;
        display: block;
        width: 100%
    }

    #_form_899_ ._row._checkbox-radio label {
        display: inline
    }

    #_form_899_ ._row,
    #_form_899_ p,
    #_form_899_ label {
        margin-bottom: 0.7em;
        width: 100%
    }

    #_form_899_ ._row input[type="checkbox"],
    #_form_899_ ._row input[type="radio"] {
        margin: 0 !important;
        vertical-align: middle !important
    }

    #_form_899_ ._row input[type="checkbox"]+span label {
        display: inline
    }

    #_form_899_ ._row span label {
        margin: 0 !important;
        width: initial !important;
        vertical-align: middle !important
    }

    #_form_899_ ._form-image {
        max-width: 100%;
        height: auto !important
    }

    #_form_899_ input[type="text"] {
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        line-height: 1.3em;
        -webkit-appearance: none
    }

    #_form_899_ input[type="radio"],
    #_form_899_ input[type="checkbox"] {
        display: inline-block;
        width: 1.3em;
        height: 1.3em;
        font-size: 1em;
        margin: 0 0.3em 0 0;
        vertical-align: baseline
    }

    #_form_899_ button[type="submit"] {
        padding: 20px;
        font-size: 1.5em
    }

    #_form_899_ ._inline-style {
        margin: 20px 0 0 !important
    }

    #_form_899_ ._inline-style input[type="text"] {
        width: 100%
    }
}

#_form_899_ .sms_consent_checkbox {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 20px 0
}

#_form_899_ .sms_consent_checkbox input[type="checkbox"] {
    float: left;
    margin: 5px 10px 10px 0
}

#_form_899_ .sms_consent_checkbox .sms_consent_message {
    display: inline;
    width: 95%;
    float: left;
    text-align: left;
    margin-bottom: 10px;
    font-size: 10px;
    color: #7D8799
}

#_form_899_ .sms_consent_checkbox .sms_consent_message.sms_consent_mini {
    width: 90%
}

#_form_899_ .sms_consent_checkbox ._error._above {
    right: auto;
    bottom: 0
}

#_form_899_ .sms_consent_checkbox ._error._above ._error-arrow {
    right: auto;
    left: 5px
}

@media (min-width:320px) and (max-width:667px) {
    #_form_899_ .sms_consent_checkbox ._error._above {
        top: -30px;
        left: 0;
        bottom: auto
    }
}

#_form_899_ .field-required {
    color: #FF0000
}

#_form_899_ {
    position: relative;
    text-align: left;
    margin: 25px auto 0;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #FFFFFF !important;
    border: 0;
    max-width: 500px;
    -moz-border-radius: 0px !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #000000
}

#_form_899_ ._show_be_error {
    min-width: 100%
}

#_form_899_._inline-form,
#_form_899_._inline-form ._form-content {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400
}

#_form_899_._inline-form ._row span,
#_form_899_._inline-form ._row label {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    color: black !important
}

#_form_899__inlineform input[type="text"],
#_form_899__inlineform input[type="date"],
#_form_899__inlineform input[type="tel"],
#_form_899__inlineform select,
#_form_899__inlineform textarea:not(.g-recaptcha-response) {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    font-color: #000000;
    line-height: 1.6em
}

#_form_899_._inline-form ._html-code *:not(h1, h2, h3, h4, h5, h6),
#_form_899_._inline-form .sms_consent_message,
#_form_899_._inline-form ._form-thank-you {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    color: black !important
}

#_form_899_._inline-form ._form-label,
#_form_899_._inline-form ._form-emailidentifier,
#_form_899_._inline-form ._form-checkbox-option-label {
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.6em;
    color: black !important
}

#_form_899_._inline-form ._submit {
    margin-top: 12px;
    font-family: IBM Plex Sans;
    font-size: 14px;
    font-weight: 400
}

#_form_899_._inline-form ._html-code h1,
#_form_899_._inline-form ._html-code h2,
#_form_899_._inline-form ._html-code h3,
#_form_899_._inline-form ._html-code h4,
#_form_899_._inline-form ._html-code h5,
#_form_899_._inline-form ._html-code h6,
#_form_899_._inline-form ._form-title {
    font-family: IBM Plex Sans;
    font-size: 22px;
    line-height: normal;
    font-weight: 700;
    color: black;
    margin-bottom: 0;
    display: block
}

#_form_899_._inline-form ._form-branding {
    font-family: "IBM Plex Sans", Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 100;
    font-style: normal;
    text-decoration: none
}

#_form_899_:before,
#_form_899_:after {
    content: " ";
    display: table
}

#_form_899_:after {
    clear: both
}

#_form_899_._inline-style {
    width: auto;
    display: inline-block
}

#_form_899_._inline-style input[type="text"],
#_form_899_._inline-style input[type="date"] {
    padding: 10px 12px
}

#_form_899_._inline-style button._inline-style {
    position: relative;
    top: 27px
}

#_form_899_._inline-style p {
    margin: 0
}

#_form_899_._inline-style ._button-wrapper {
    position: relative;
    margin: 16px 12.5px 0 20px
}

#_form_899_ ._form-thank-you {
    position: relative;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px
}

#_form_899_ ._form-pc-confirmation ._submit {
    margin-top: 16px
}

@media (min-width:320px) and (max-width:667px) {
    #_form_899_._inline-form._inline-style ._inline-style._button-wrapper {
        margin-top: 20px !important;
        margin-left: 0 !important
    }
}

#_form_899_ .iti {
    width: 100%
}

#_form_899_ .iti.iti--allow-dropdown.iti--separate-dial-code {
    width: 100%
}

#_form_899_ .iti input {
    width: 100%;
    border: #979797 1px solid;
    border-radius: 4px
}

#_form_899_ .iti--separate-dial-code .iti__selected-flag {
    background-color: #FFFFFF;
    border-radius: 4px
}

#_form_899_ .iti--separate-dial-code .iti__selected-flag:hover {
    background-color: rgba(0, 0, 0, 0.05)
}

#_form_899_ .iti__country-list {
    border-radius: 4px;
    margin-top: 4px;
    min-width: 460px
}

#_form_899_ .iti__country-list--dropup {
    margin-bottom: 4px
}

#_form_899_ .phone-error-hidden {
    display: none
}

#_form_899_ .phone-error {
    color: #E40E49
}

#_form_899_ .phone-input-error {
    border: 1px solid #E40E49 !important
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field fieldset {
    margin: 0;
    margin-bottom: 1.1428571429em;
    border: none;
    padding: 0
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field fieldset:last-child {
    margin-bottom: 0
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field legend {
    margin-bottom: 1.1428571429em
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field label {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 0.8571428571em
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field label:last-child {
    margin-bottom: 0
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field input {
    margin: 0;
    margin-right: 8px
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-label {
    display: block;
    font-weight: 400;
    margin-top: -4px
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-label-with-description {
    display: block;
    font-weight: 700;
    margin-top: -4px
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field ._form-checkbox-option-description {
    margin: 0;
    font-size: 0.8571428571em
}

#_form_899_._inline-form ._form-content ._form-list-subscriptions-field ._form-subscriptions-unsubscribe-all-description {
    line-height: normal;
    margin-top: -2px
}


/* ADDED BY STEFAN */
._form-content{
    background: linear-gradient(109.72deg, #FFFFFF 3.16%, #FFF1AF 104.63%);
    padding: 5%;
    border-radius: 24px;
}

._form-title{
    text-align: center;
}

#_form_899_ ._submit{
    color: #172987 !important;
    background-color: #FFE15A !important;
    border: none;
    border-radius: 9px !important;
    font-weight: 700 !important;
}

#_form_899_ ._submit:hover{
    background-color: #f3cb19 !important;
}







